/* HEADER */
.list-menu > li > a,
.list-menu > li > summery{
  text-transform: uppercase;
}

/* DESKTOP ONLY */

/* HEADER */
@media screen and (min-width: 990px){
  .header--middle-left {
      grid-template-areas: "heading navigation icons";
      grid-template-columns: auto 2fr 1fr;
      column-gap: 2rem;
  }
  .header--middle-left .header__inline-menu {
      margin-left: auto;
      margin-right: auto;
  }
}
